{% extends 'base.html.twig' %}

{% block body %}
vous êtes bien connecté
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
{% endblock %}